body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  color: #333;
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.message {
  font-size: 1.9rem;
  margin: 10px 0;
}



#km {
  font-weight: bold;
  color: #2d9cdb;
}

.congrats {
  font-size: 1.3rem;
  color: #555;
}

.text {
  font-size: 1.1rem;
  margin-top: 15px;
  color: #444;
}

.signature {
  margin-top: 30px;
  font-style: italic;
  color: #666;
}

/* Tela inicial */
#start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000dd;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#start-btn {
  background: linear-gradient(to right, #83a4d4, #096165);
  color: white;
  font-size: 1.5rem;
  padding: 16px 32px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s;
}

#start-btn:hover {
  background-color: #27ae60;
}

.animal-gifs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.animal-gifs img {
  width: 150px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.animal-gifs img:hover {
  transform: scale(1.1);
}


@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  .message {
    font-size: 1.4rem;
  }

  .congrats, .text {
    font-size: 1rem;
  }
}
